main {
  padding: 5% 0%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.userRegisterPlace {
  border: 3px solid black;
  border-radius: 50px;

  padding: 3%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 7px #888888;
}

.imgUser {
  min-width: 20vh;
  max-width: 20vh;

  min-height: 20vh;
  max-height: 20vh;

  border: 3px solid black;
  border-radius: 100%;
  border-style: dashed;

  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 55%;
  max-height: 55%;
}

.userRegisterMidPlace {
  border: 0px solid red;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.userRegisterInputs {
  border-left: 1px solid black;

  padding: 7%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.userRegisterInputs > * {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userRegisterInputs > input {
  width: 140px;
}

.userRegisterInputs > input#buttonEnviar {
  width: 80px;
}

footer {
  position: absolute;
  bottom: 0;
}
