* {
  margin: 0;
  padding: 0;
}

header {
  height: 5%;
}

footer {
  height: 5%;
  width: 100%;

  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 5%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > div > a {
  color: white;
  text-decoration: none;
}

nav > div > p {
  color: white;
}

.navLeftSide {
  border: 0px solid red;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30vh;
}

.navRightSide {
  border: 0px solid greenyellow;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.divBattery {
  background-color: rgb(238, 176, 61);
  padding: 2% 4%;
  border: 1vh solid rgb(177, 120, 46);

  display: flex;
  align-items: center;
  gap: 5vh;
}

.divPlastic {
  background-color: rgb(165, 94, 94);
  padding: 2% 4%;
  border: 1vh solid rgb(186, 47, 47);

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5vh;
}

.divPaper {
  background-color: rgb(98, 98, 171);
  padding: 2% 4%;
  border: 1vh solid rgb(47, 49, 186);

  display: flex;
  align-items: center;
  gap: 5vh;
}

.divGlass {
  background-color: rgb(120, 197, 126);
  padding: 2% 4%;
  border: 1vh solid rgb(55, 111, 36);

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5vh;
}

.imgLeft {
  min-width: 20vh;
  max-width: 20vh;

  min-height: 20vh;
  max-height: 20vh;

  border: 3px solid black;
  border-radius: 100%;
  border-style: dashed;

  display: flex;
  align-items: center;
  justify-content: center;
}

.imgRight {
  min-width: 20vh;
  max-width: 20vh;

  min-height: 20vh;
  max-height: 20vh;

  border: 3px solid black;
  border-radius: 100%;
  border-style: dashed;

  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 50%;
  max-height: 50%;
}
