.navigation {
  background-color: black;
  top: 0%;

  display: flex;
  justify-content: space-around;
}
nav > a {
  color: white;
  text-decoration: none;
}
.master {
}
.divBattery {
  background-color: rgb(238, 176, 61);
  display: flex;
}
.divPlastic {
  background-color: rgb(165, 94, 94);
  display: flex;
  flex-direction: row-reverse;
}
.divPaper {
  background-color: rgb(98, 98, 171);
  display: flex;
}
.divGlass {
  background-color: rgb(120, 197, 126);
  display: flex;
  flex-direction: row-reverse;
}
.imgLeft {
  max-width: 25%;
  border: 1px solid black;
}
.imgRight {
  max-width: 25%;
  border: 1px solid white;
}
img {
  max-width: 100%;
  max-height: 100%;
}
