@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.divMainMap {
  /* border: 1px solid red; */
  margin-top: calc(15px + 3.5vh);

  display: flex;
  flex-wrap: wrap;
  gap: 0.1vw;
  justify-content: center;
}

.firstSection {
  /* border: 1px solid blue; */
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondSection {
  /* border: 1px solid yellow; */
  width: 20%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inputFieldCEP,
.inputField {
  opacity: 90%;
  padding: 0.2vw 0vw;
  border: 0.1vw solid rgb(50, 73, 50);
  border-radius: 10px;
}

.inputField {
  pointer-events: none;
}

.thirdSection {
  /* border: 1px solid yellow; */
  width: 20%;
  padding: 1%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.divMapForms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.divMapForms > button {
  width: 10vw;
}

#map {
  border: 5px solid greenyellow;
  border-radius: 2vw;
  height: 26vw;
  width: 26vw;
  background: #ddd;
}

/* Legend das bordas */
.cepFieldset > legend,
.infosFieldset > legend,
.resultFieldset > legend {
  cursor: default;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

/* a */
.cepFieldset > p > label,
.infosFieldset > p > label,
.resultFieldset > div > p {
  font-family: "Varela Round", sans-serif;
}

.cepFieldset > p > input,
.infosFieldset > p > input,
.resultFieldset > div {
  text-align: center;
}

.cepFieldset,
.infosFieldset,
.resultFieldset {
  border: 2px solid greenyellow;
  border: none;
  border-radius: 10px;
}

.cepFieldset {
  text-align: center;
}

.infosFieldset {
  padding-bottom: 0.2vw;
}

.cepFieldset > button {
  margin: 0.7vw 0vw;
}

.cepFieldset > p,
.infosFieldset > p {
  /* border: 1px solid white; */
  padding-top: 0.3vw;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3vw;
}

.divResultButton {
  height: 20%;
  /* border: 2px solid greenyellow; */
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultFieldset {
  border: 2px solid rgb(37, 113, 72);
  border-radius: 60px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.resultFieldset > legend {
  color: rgb(36, 79, 36);
  font-size: 1.3vw;
}

/* HTML <button class="button-33" role="button">Button 33</button> */
/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
