main {
  background: linear-gradient(to right, #024059, #025940) !important;
}

li {
  list-style-type: none;
}

.mainDiv {
  /* border: 3px solid white; */
  padding: 2%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zeroSection {
  border: 0.3vw solid #b1f0c1;
  border-radius: 20px;
  padding: 1vw;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divUsuario {
  text-align: center;
  color: aliceblue;
  font-size: 1.3vw;
  font-family: var(--fonte-family-input--Varela);

  display: flex;
  flex-direction: row;
}

.firstSection {
  /* border: 1px solid red; */
  padding: 2%;
  width: 100%;
  margin-bottom: 3vw;

  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  gap: 8vw;
}

.ecoCoinIcon {
  border: 0.5vw solid #b1f0c1;
  border-radius: 50%;
  padding: 2vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
#ecoCoinIconID {
  max-width: 8vh;
  max-height: 8vh;
}
.legendEcoFieldset {
  border: 0.5vw solid #b1f0c1;
  border-radius: 30px;
  padding: 1vw;
  text-align: center;
  color: aliceblue;
  font-size: 1.7vw;
  font-family: var(--fonte-family-input--Varela);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.ecoFieldset {
  border: 0.5vw solid #b1f0c1;
  border-radius: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.ecoFieldset > ul {
  font-family: var(--fonte-family-input--Varela);
  font-size: 1vw;
  color: aliceblue;
  padding: 7% 0%;
}

.ecoFieldset > div > ul {
  font-family: var(--fonte-family-input--Varela);
  font-size: 1vw;
  color: aliceblue;
  padding: 10% 0%;
}

.secondSection {
  /* border: 1px solid red; */
}

/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- */
/* ---------------------------BOTAO VOLTAR---------------------------- */
/* ------------------------------------------------------------------- */

.buttonPlace {
  /* border: 1px solid red; */
  margin-bottom: 1vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}

.custom-btn {
  background: transparent;
  backdrop-filter: 0px;
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  padding: 10px 25px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 1s;
  text-shadow: 5px 5px 20px rgb(42, 42, 42);
}

.custom-btn:hover {
  border: 1px solid rgb(203, 231, 204);
  transform: scale(1.1);
}

.custom-btn > p {
  color: #fff;
  font-family: var(--fonte-family-button--GillSans);
  font-size: 15px;
}
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------ */
/* HTML <button class="button-33" role="button">Button 33</button> */
/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1vw;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* ------------------------------------------------------------------------------------ */
