:root {
  /* Utilizado em títulos, legend e textos */
  /* --fonte-family-titulo--Arial: Arial, Helvetica, sans-serif; */

  /* Utilizado em campos de label dos inputs e em Cards */
  --fonte-family-input--Varela: "Varela Round", sans-serif;

  /* Utilizado no botão "VOLTAR AO PAINEL ECOROUTE" e em TITULOS DE PAGE */
  --fonte-family-button--GillSans: "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;

  /* Roboto */
  /* --fonte--roboto: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(to right, #024059, #026873, #04bf8a, #025940);
}

body {
  display: table;
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1; /* este index utilizado junto à position faz com que os efeitos não sobreponham a barra de navegacao */
}

main {
  background: linear-gradient(to right, #024059, #026873, #04bf8a, #025940);
  padding-top: calc(5vh + 75px);
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

/* (Header) NavBar fixada ao topo da página */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(239, 239, 239);
  color: rgb(27, 34, 105);
  padding: 1.8% 10%;
}

/* Botão Login/Register */
nav > div > button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  --primary-color: #111;
  --hovered-color: #6d9371;
  position: relative; /* faz o traco verde aparecer em baixo do login/register */
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5vw;
  gap: 0.5vw;
}

/* Efeito verde do botão Login/Register */
nav > div > button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -0.7vw;
  background: var(--hovered-color);
  height: 0.2vw;
  transition: 0.3s ease-out;
}

/* Carregamento da cor verde */
nav > div > button:hover::after {
  width: 100%;
}

/* Seta do botão LOGIN/REGISTRE-SE */
nav > div > button svg {
  width: 1.1vw;
  transition: all 0.2s ease 0.2s;
}

/* Hover da seta do botão LOGIN/REGISTRE-SE */
nav > div > button:hover svg {
  transform: translateX(0.4vw);
  color: var(--hovered-color);
}

/* Posiciona e estiliza o botão ECOROUTE */
.buttonEcoRoute {
  margin: 0;
  margin-top: 0px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;

  --border-right: 0.5vw;
  --text-stroke-color: rgba(184, 186, 255, 0.6);
  --animation-color: #518b69;
  --fs-size: 2vw;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 2.3vw;
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.1vw var(--text-stroke-color);
}

/* Une os dois Span ECOROUTE da NavBar para criar o efeito */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* Cria o efeito verde que percorre o botão ECOROUTE */
.buttonEcoRoute:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

footer {
  height: 5vh;
  width: 100%;
}

/* (Footer) Estilo do rodapé */
.rodape {
  background-color: rgb(239, 239, 239);
  color: black;

  font-weight: 600;
  font-size: 1.1vw;
  font-family: "Arial";

  display: flex;
  justify-content: center;
  align-items: center;
}
