html {
  background: linear-gradient(to right, #024059, #026873, #04bf8a, #025940);
}

/* div do conteudo de apresentacao */
.apresentacao {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.5rem;
  text-align: left;
  padding: 1% 5%;
  margin-top: 2%;
  margin-left: 4px;
  display: inline-block;
  word-spacing: 100px;
}

.imagemLogo {
  justify-content: end;
  height: 1%;
  width: 1%;
  padding: 10%;
  flex-direction: row;
  border-radius: 50%;
  box-shadow: 10%;
}

.imagemLogo > img {
  border-radius: 50%;
}

/* div com a grid de cards 
  .placeGrid {
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
  }
  
  /* molde do card 
  .card {
    background-color: #279bfa;
    border: 10px solid #2c6170;
    border-radius: 30px;
  
    padding: 4vh;
    height: 30vh;
    width: 40vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: all 1.9s;
  }
  
  /* ação do cursor pelo card para 
  aplicar o efeito e mostrar o back-card */
/* A propriedade transforme SCALE faz 
    com que o "HEIGHT" e "WIDTH" da classe 
    ".card" cresça em tantos % 
  .card:hover {
    background: #279bfa;
  
    cursor: pointer;
    transform: scale(1.1);
  }
  
  /* propriedades do front-card
  .firstContentCard {
    transition: all 0.8s;
    opacity: 1;
  }
  
  /* ato de apenas esconder o front-card
  .card:hover .firstContentCard {
    height: 0px;
    opacity: 0;
  }
  
  /* back-card escondido 
  .secondContentCard {
    opacity: 0;
    transition: all 0.8s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
  /* propriedades do back-card 
  .card:hover .secondContentCard {
    padding: 4vh;
    height: 30vh;
    width: 40vh;
  
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
  
    opacity: 1;
    transform: rotate(0deg);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* div do conteudo que ficará abaixo dos cards 
  .conteudoDeBaixo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1% 5%;
    margin-bottom: 4%;
  }
  */
