html {
  background: linear-gradient(to right, #024059, #026873, #04bf8a, #025940);
}

.divMae {
  display: flex;
  margin: 2.5%;
  margin-top: 5%;
  margin-right: 30%;
  width: 90%;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 1;
}

.apresentacao {
  font-family: Calibri;
  color: white;
  font-size: 1.5rem;
  text-align: left;
  text-shadow: 20%;
  padding: 2% 5%;
  word-spacing: 5%;
  word-break: break-word;
  text-shadow: 0.5px 0px 1rem rgba(0, 0, 0, 0.527)
}

.imagemLogo img {
  align-items: center;
  height: 120%;
  width: 120%;
  padding: 20% 8%;
  flex-direction: row;
  border-radius: 60%;
  filter: drop-shadow(1px 1px 1rem rgba(0, 0, 0, 0.384));
}

.imagemLogo > img {
  border-radius: 50%;
}