* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(to right, #024059, #026873, #04bf8a, #025940);
}

/* -----------------------BODY DOMINIUM------------------------ */
/* -------------------HEADER + MAIN + FOOTER-------------------- */
body {
  display: table;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

/* -----------------------HEADER DOMINIUM------------------------ */
header {
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(5px);
}

.navigation {
  border: 5px solid #2e2c57;

  font-family: Arial;
  font-weight: bold;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > div > a {
  color: black;
  text-decoration: none;
}

nav > div > p {
  color: black;
}

#sobreNos:hover {
  border-bottom: 1px solid black;
}

#register:hover {
  border-bottom: 1px solid black;
}

#login:hover {
  border-bottom: 1px solid black;
}

.navLeftSide {
  border: 0px solid red; /* alternar entre 0px e 1px para auxiliar no desenvolvimento */
  padding: 0.5%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30vh;
}

.navRightSide {
  border: 0px solid red; /* alternar entre 0px e 1px para auxiliar no desenvolvimento */

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

/* atributos do icone Eco da NavBar */
.iconNavBar {
  border: 2px solid greenyellow;
  border-radius: 50%;
  border-style: dashed;
  padding: 5%;

  max-height: 9vh;
  max-width: 9vh;
  min-height: 9vh;
  min-width: 9vh;
  transition: transform 5s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.iconNavBar:hover {
  border-style: dotted;
}

.iconNavBar:hover img {
  /* transform: rotateY(0deg); */
  /* transform: rotate(360deg); */
  transform: rotateY(180deg);
}

/* define o tamanho da imagem dentro da border */
header > nav > div > a > div > img {
  margin-left: 5px;
  margin-bottom: 5px;
  max-width: 70%;
  max-height: 70%;
  transition: transform 0.5s ease;
}

/* -----------------------MAIN DOMINIUM------------------------ */

main {
  background: linear-gradient(to right, #024059, #026873, #04bf8a, #025940);
  margin-top: 1%;
  margin-bottom: 5%;
}

/* div do conteudo de apresentacao */
.apresentacao {
  border: 0px solid red; /* alternar entre 0px e 1px para auxiliar no desenvolvimento */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 1% 5%;
}

/* div com a grid de cards */
.placeGrid {
  border: 0px solid white; /* alternar entre 0px e 1px para auxiliar no desenvolvimento */

  padding: 4%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;
}

/* tamanho das imagens dentro dos cards */
#img1x1 {
  max-width: 22vh;
  max-height: 22vh;
}

/* tamanho da imagem dentro do card Device */
#img1x2 {
  max-width: 26vh;
  max-height: 26vh;
}

/* molde do card */
.card {
  background-color: #279bfa;
  border: 10px solid #2c6170;
  border-radius: 30px;

  padding: 4vh;
  height: 30vh;
  width: 40vh;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 1.9s;
}

/* ação do cursor pelo card para 
aplicar o efeito e mostrar o back-card */
/* A propriedade transforme SCALE faz 
  com que o "HEIGHT" e "WIDTH" da classe 
  ".card" cresça em tantos % */
.card:hover {
  background: #279bfa;

  cursor: pointer;
  transform: scale(1.1);
}

/* propriedades do front-card */
.firstContentCard {
  transition: all 0.8s;
  opacity: 1;
}

/* ato de apenas esconder o front-card*/
.card:hover .firstContentCard {
  height: 0px;
  opacity: 0;
}

/* back-card escondido */
.secondContentCard {
  opacity: 0;
  transition: all 0.8s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

/* propriedades do back-card */
.card:hover .secondContentCard {
  padding: 4vh;
  height: 30vh;
  width: 40vh;

  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;

  opacity: 1;
  transform: rotate(0deg);
}

/* div do conteudo que ficará abaixo dos cards */
.conteudoDeBaixo {
  border: 0px solid cyan; /* alternar entre 0px e 1px para auxiliar no desenvolvimento */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 1% 5%;
}

/* -----------------------FOOTER DOMINIUM------------------------ */

.rodape {
  background-color: black;
  color: white;

  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;

  height: 5%;
  width: 100%;

  position: absolute;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------------MARIA CSS------------------------ */

/* .gradient-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;

  padding-bottom: 1000px;
}

 .card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 400px;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: fixed;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

 .card-front {
  background-color: #279bfa;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  border: 10px solid #2c6170;
  border-radius: 30px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #ffffff;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #2c6170;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
} */
